/**
*!style  rule for section one
**/

.sectionOne__left--text {
  font-family: var(--font-2);
  font-size: var(--body);
  color: var(--color-white-100);
}

.sectionOne__left--btn {
  align-self: start;
  margin-top: 20px;
}

/**
*!style  rule for section Two
**/

.sectionTwo {
  padding: 40px 0;
  display: grid;
  gap: 30px;
}

.sectionTwo__content--text {
  font-family: var(--font-2);
  font-size: var(--sub);
}

.sectionTwo__logo {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.sectionTwo__logo img {
  justify-self: center;
  align-items: center;
}

.sectionTwo__btn {
  justify-self: center;
}

/**
*! section three
**/

.sectionThree__right--text {
  color: var(--color-dark-50);
  font-family: var(--font-2);
  font-size: var(--body);
}

.sectionThree__right--btn {
  align-self: start;
}

/**
*! section four
**/

.sectionFour__left--text {
  color: var(--color-dark-50);
  font-family: var(--font-2);
  font-size: var(--body);
}

.sectionFour__left--btn {
  align-self: start;
}

/**
*! section five
**/

.sectionFive {
  display: grid;
  gap: 30px;
  margin-top: 15px;
  margin-bottom: 30px;
}

.sectionFive__content--text {
  font-size: var(--sub);
  font-family: var(--font-2);
}

.sectionFive__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

[class^="sectionFive__cards--"] {
  display: flex;
  flex-direction: column;
  box-shadow: var(--shadow-1);
  gap: 15px;
  border-radius: 5px;
  padding: 20px 25px;
}

[class^="sectionFive__cards--"] .name {
  font-family: var(--font-1);
  font-weight: bold;
  font-size: var(--h5);
}

[class^="sectionFive__cards--"] .position {
  font-family: var(--font-2);
  color: var(--color-dark-75);
  text-transform: uppercase;
}

.sectionFive__btn {
  justify-self: center;
}

/**
* ! media queries are here
**/


/* Desktop responsive */
@media (max-width: 1200px) {
  .sectionTwo__logo {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}

/* Tablet responsive */
@media (max-width: 768px) {
  .sectionOne_right,
  .sectionFour__right {
    order: 0;
  }

  .sectionOne__left,
  .sectionFour__left {
    order: 1;
  }

  .sectionFive__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}


/* mobile responsive */
@media (max-width: 568px) {
  .sectionTwo__logo {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }

  .sectionFive__cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
